<header class="header">
    <div class="container" style="border:solid 2px black">
        <!--  -->
        <div class="row mt-3">
            <div class="col-lg-5">
                <div class="headerBlockFirstImage">
                    <a href="#">
                    <img src="https://enter.kg/images/stories/site/mlogo2.jpg">
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="headerBlockSecondImage">
                    <a href="#">
                    <img src="https://enter.kg/images/rightslider/bts_Enter.jpg">
                    </a>
                </div>
            </div>
        </div>
        <!--  -->
        <ul class="nav mt-2">
            <li><a href="#" class="nav-link">Главная</a></li>
            <li><a href="#" class="nav-link">О компании</a></li>
            <li><a href="#" class="nav-link">Доставка</a></li>
            <li><a href="#" class="nav-link">Кредит</a></li>
            <li><a href="#" class="nav-link">Гарантия</a></li>
            <li><a href="#" class="nav-link">О чате</a></li>
            <li><a href="#" class="nav-link">Статьи</a></li>
        </ul>
    </div>
</header>