<div class="col-lg-2">
    <div class="blockSearch">
        <p>Поиск по сайту</p>
        <form>
            <input type="text" name="q" placeholder="что ищем">
            <select class="form-select mt-1" aria-label="Все категории">
                <option selected>Все категории</option>
                <option value="1">Мониторы</option>
                <option value="2">Ноутбуки</option>
                <option value="3">Проекторы</option>
            </select>
        </form>
    </div>
    <!--  -->
    <div class="blockCart">

    </div>
    <!--  -->
    <div class="blockQR">

    </div>
    <!--  -->
</div>