<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enter.kg Бишкек - интернет магазин</title>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  </head>
  <body>

    {% include "includes/header.html" %}
    
    {% block content %}

    {% endblock content %}

    {% include "includes/footer.html" %}
    
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}" ></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>